# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here
display(salaries.head())
display(salaries.info())
salaries.describe()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

None

       Typical Hours  Annual Salary  Hourly Rate
count    8022.000000   25161.000000  8022.000000
mean       34.507604   86786.999790    32.788558
std         9.252077   21041.354602    12.112573
min        10.000000    7200.000000     2.650000
25%        20.000000   76266.000000    21.200000
50%        40.000000   90024.000000    35.600000
75%        40.000000   96060.000000    40.200000
max        40.000000  300000.000000   109.000000

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [4]:
# Your code here
from scipy.stats import ttest_1samp

display(ttest_1samp(salaries['Hourly Rate'].dropna(), 30))
_, p = ttest_1samp(salaries['Hourly Rate'].dropna(), 30)
print("The null hypothesis is that the mean hourly rate is $30.")
print(f"The p-value is {p}, and a = 0.05, so we reject the null hypothesis that the mean hourly rate is $30.")

TtestResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92, df=8021)

The null hypothesis is that the mean hourly rate is $30.
The p-value is 4.3230240486229894e-92, and a = 0.05, so we reject the null hypothesis that the mean hourly rate is $30.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [5]:
# Your code here
hourly = salaries[salaries['Salary or Hourly'] == 'Hourly']

display(hourly.info())
hourly['Hourly Rate'].describe()

<class 'pandas.core.frame.DataFrame'>
Index: 8022 entries, 4 to 33175
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               8022 non-null   object
 1   Job Titles         8022 non-null   object
 2   Department         8022 non-null   object
 3   Full or Part-Time  8022 non-null   object
 4   Salary or Hourly   8022 non-null   object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      0 non-null      float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 564.0+ KB

None

count    8022.000000
mean       32.788558
std        12.112573
min         2.650000
25%        21.200000
50%        35.600000
75%        40.200000
max       109.000000
Name: Hourly Rate, dtype: float64

In [6]:
freedom = len(hourly) - 1
cl = 0.95
a = 1 - cl
mean = hourly['Hourly Rate'].mean()
scale = sem(hourly['Hourly Rate'])

In [7]:
interval = t.interval(cl, freedom, loc=mean, scale=scale)
print(cl, freedom, mean, scale)
interval

print(f"The 95% confidence interval for the mean hourly rate is {interval}.")
print(f"That is, we are 95% confident that the mean hourly rate is between ${interval[0]:.2f} and ${interval[1]:.2f}.")

0.95 8021 32.78855771628024 0.1352368565101596
The 95% confidence interval for the mean hourly rate is (32.52345834488425, 33.05365708767623).
That is, we are 95% confident that the mean hourly rate is between $32.52 and $33.05.

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [8]:
# Your code here
from statsmodels.stats.proportion import proportions_ztest

hourly_count = len(hourly)
total_salaries = len(salaries)
p = 0.25
a = 0.05

stat, p = proportions_ztest(hourly_count, total_salaries, p)
print(f"The p-value is {p}.")
print("The null hypothesis is that 25% of employees are hourly employees.")
print(f"Since the p-value is less than {a}, we reject the null hypothesis that 25% of employees are hourly employees.")

The p-value is 0.0004481127249057967.
The null hypothesis is that 25% of employees are hourly employees.
Since the p-value is less than 0.05, we reject the null hypothesis that 25% of employees are hourly employees.