
# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [13]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy import stats
import scipy.stats as st

from scipy import stats
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest
from statsmodels.stats.proportion import proportions_ztest

from scipy.stats import ttest_ind, norm, t, ttest_1samp
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [14]:
# Run this code:
salaries = pd.read_csv('C:/Users/falabella/GIT/lab-hypothesis-testing-en/data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [15]:
display(salaries.head())

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [16]:
#salaries_sample = salaries[salaries['Hourly Rate'] > 0] ['Hourly Rate'].sample(50)

salaries_sample = salaries['Hourly Rate'].dropna()

st_number, p_value = ttest_1samp(salaries_sample, 30, alternative='two-sided')
p_value

np.float64(4.3230240486229894e-92)

In [17]:
p_value < 0.05 #False
#H0 can't be rejected

np.True_

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [18]:
hourly_wages = salaries['Hourly Rate'].dropna()

sample_mean = hourly_wages.mean()
sample_size = len(hourly_wages)
sample_std = np.std(hourly_wages, ddof=1)

standard_error = sample_std / np.sqrt(sample_size)

confidence_level = 0.95
degrees_of_freedom = sample_size - 1

confidence_interval = stats.t.interval(confidence_level, df=degrees_of_freedom, loc=sample_mean, scale=standard_error)

print(f"Sample Mean: {sample_mean:.4f}")
print(f"Standard Error: {standard_error:.4f}")
print(f"95% Confidence Interval: {confidence_interval}")

Sample Mean: 32.7886
Standard Error: 0.1352
95% Confidence Interval: (np.float64(32.52345834488425), np.float64(33.05365708767623))

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [19]:
salaries_sample = salaries.sample(sample_size)
count = salaries_sample [salaries_sample["Salary or Hourly"] == "Hourly"]["Salary or Hourly"].count()
H0 = 0.25
alpha = 0.05

z_stat, p_value = proportions_ztest(count, sample_size, H0)

print(f"p-value = {p_value:.10f}")
if p_value < alpha:
    print(f"We reject H0. The number of hourly workers in Chicago is not {H0*100}%")
else:
    print(f"We cannot reject H0. We cannot state that the number of hourly workers in Chicago is not {H0*100}%")

p-value = 0.7862281374
We cannot reject H0. We cannot state that the number of hourly workers in Chicago is not 25.0%