# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats as st
import seaborn as sns
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest
from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head(5)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [9]:
## select only the workers with hourly wage

hourlysalaries = salaries[salaries["Salary or Hourly"] == "Hourly"]

## one sample test
# set hypothesis
# HO : salaries["Hourly Rate"].mean() = 30/hr   H1: salaries["Hourly Rate"].mean() different 30/hr

stat, p_value = st.ttest_1samp(hourlysalaries["Hourly Rate"],30)

# Conclusion
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: The hourly wage of all hourly workers is significant different from 30/hr.")
else:
    print("Fail to reject the null hypothesis: The hourly wage of all hourly workers is equal to 30/hr.")

Reject the null hypothesis: The hourly wage of all hourly workers is significant different from 30/hr.

In [11]:
# Given a p-value < than our confiddence level:
# We regected the null hipothesis so its very unlikely that the mean of our dataset be 30;

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

t.interval

In [5]:
import numpy as np
import scipy.stats as stats


# sample mean
sample_mean = np.mean(hourlysalaries["Hourly Rate"])

# standard error of the mean
standard_error = stats.sem(hourlysalaries["Hourly Rate"])

# confidence interval
confidence_level = 0.95
#degrees of freedom
degrees_of_freedom = len(hourlysalaries["Hourly Rate"]) - 1

confidence_interval = stats.t.interval(
    confidence_level,
    degrees_of_freedom,
    loc=sample_mean,
    scale=standard_error
)

print(f"95% Confidence Interval: {confidence_interval}")

95% Confidence Interval: (32.52345834488425, 33.05365708767623)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [8]:
from statsmodels.stats.proportion import proportions_ztest
# total number of workers
total = len(salaries)
# number of hourly workers
hourly =len(hourlysalaries)
##hypothesized proportion
proportion = 0.25 

count = hourly
nobs = total
# Perform the z-test
stat, p_value = proportions_ztest(count, nobs, proportion)

print(f"Test Statistic: {stat}")
print(f"P-Value: {p_value}")

# Conclusion
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: The proportion of hourly workers is significantly different from 25%.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference from 25%.")

Test Statistic: -3.5099964213703005
P-Value: 0.0004481127249057967
Reject the null hypothesis: The proportion of hourly workers is significantly different from 25%.