# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [54]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [55]:
# Run this code:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [56]:
# Your code here
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [57]:
salaries.shape

(33183, 8)

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [58]:
# Your code here
from scipy.stats import ttest_1samp

sampleSize = 3000
mean_salary = 30
alpha = 0.05

hourlySalaries = salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate'].sample(sampleSize)

if ttest_1samp(hourlySalaries, mean_salary).pvalue < alpha:
    print('pvalue is less than 5%, we reject the null hypothesis')
else:
    print('pvalue is bigger than 5%, we fail to reject the null hypothesis')

pvalue is less than 5%, we reject the null hypothesis

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [59]:
# Your code here
from scipy.stats import sem

hr_mean = np.mean(hourlySalaries)
hr_std = np.std(hourlySalaries, ddof=1)
hr_sem = sem(hourlySalaries)

ci = t.interval(0.95, len(hourlySalaries)-1, hr_mean, hr_sem)

print('Hourly Rate Mean:', hr_mean)
print('Hourly Rate Standard Error: ', hr_std)
print('Hourly Rate 95% Confidence Interval: ', ci)

Hourly Rate Mean: 32.57264
Hourly Rate Standard Error:  12.142576594467812
Hourly Rate 95% Confidence Interval:  (32.13795602870425, 33.00732397129575)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [60]:
# Your code here

from statsmodels.stats.proportion import proportions_ztest

emp_proportion = len(salaries[salaries['Salary or Hourly']=='Hourly']) / len(salaries['Salary or Hourly'])

count_hr = len(salaries[salaries['Salary or Hourly']=='Hourly'])

p0 = 0.25

conf_level = proportions_ztest(count_hr, len(salaries['Salary or Hourly']), value=p0)

conf_level

(-3.5099964213703005, 0.00044811272490579676)

:::
Given that the p-value is less than 5%, we reject the null hypothesis
:::