# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
# from statsmodels.stats.weightstats import ztest as ztest
from statsmodels.stats.proportion import proportions_ztest

# from scipy.stats import ttest_ind, norm, t
# from scipy.stats import f_oneway
# from scipy.stats import sem
import scipy.stats as st

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [4]:
# Run this code:
salaries = pd.read_csv('..\data\Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [5]:
# Your code here
display(salaries.head())
salaries.info()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here
sample_size = 1000
hourly_sample = salaries[salaries["Salary or Hourly"] == "Hourly"]["Hourly Rate"].sample(sample_size)
h0 = 30 # The H0 states that the hourly rate is $30/hr
alpha = 0.05

st_dv, p_value = st.ttest_1samp(hourly_sample,h0)
print(f"p-value = {p_value:.10f}")
if p_value < alpha:
    print(f"We reject H0. The hourly wage of all hourly workers is significantly different from ${h0}/hr")
else:
    print(f"We cannot reject H0. We cannot state that the hourly wage of all hourly workers is significantly different from ${h0}/hr")

p-value = 0.0000000188
We reject H0. The hourly wage of all hourly workers is significantly different from $30/hr

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [9]:
# Your code here
conf_level = 0.95
df = len(hourly_sample)-1
mean = hourly_sample.mean()
st_error = hourly_sample.std() / sample_size**0.5 # The standard error measures how accurately the sample mean represents the true population mean. It's the st dev of the sample divided by the sqrt of the sample size

confidence_interval = st.t.interval(conf_level, df, loc=mean, scale=st_error)
confidence_interval

print(f"We can say with a confidence level of {conf_level} that the hourly wages of workes fall between ${confidence_interval[0]:.2f}/hr and ${confidence_interval[1]:.2f}/hr")

We can say with a confidence level of 0.95 that the hourly wages of workes fall between $31.43/hr and $32.94/hr

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [51]:
# Your code here
salaries_sample = salaries.sample(sample_size) # sample_size defined in Challenge 2
count = salaries_sample[salaries_sample["Salary or Hourly"]=="Hourly"]["Salary or Hourly"].count()
h0 = 0.25 # The H0 states that the number of hourly workers in Chicago is 25%
alpha = 0.05

z_stat, p_value = proportions_ztest(count, sample_size, h0)

print(f"p-value = {p_value:.10f}")
if p_value < alpha:
    print(f"We reject H0. The number of hourly workers in Chicago is not {h0*100}%")
else:
    print(f"We cannot reject H0. We cannot state that the number of hourly workers in Chicago is not {h0*100}%")

p-value = 0.5547390119
We cannot reject H0. We cannot state that the number of hourly workers in Chicago is not 25.0%