# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [20]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem
from scipy.stats import ttest_1samp
from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [14]:

salaries = pd.read_csv('/Users/julianuss/Documents/GitHub/lab-hypothesis-testing-en/data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [15]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [18]:
# Filter the hourly 
hourly_wages = salaries['Hourly Rate'].dropna()

# Perform the one-sample t-test
t_stat, p_value = ttest_1samp(hourly_wages, 30)

# Output the results
print(f"t-statistic: {t_stat:.4f}")
print(f"p-value: {p_value:.4f}")

# Interpretation
alpha = 0.05
if p_value < alpha:
    print("The null hypothesis can be rejected. The hourly wage is significantly different from $30/hr.")
else:
    print("Fail to reject the null hypothesis: There can't be significant difference from $30/hr shown.")

t-statistic: 20.6198
p-value: 0.0000
Reject the null hypothesis: The hourly wage is significantly different from $30/hr.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [ ]:
hourly_mean = salaries['Hourly Rate'].dropna()

# Compute the standard error of the mean
standard_error = st.semw(salaries['Hourly Rate'])

# Compute degrees of freedom
degrees_of_freedom = len(salaries['Hourly Rate']) - 1

# Compute the 95% confidence interval
confidence_interval = st.t.interval(
    0.95,  # confidence interval
    degrees_of_freedom,  # degrees of freedom
    loc=hourly_mean,  # sample mean
    scale=standard_error  # standard error
)

# Output the results
print(f"Mean Hourly Wage: {hourly_mean:.4f}")
print(f"95% Confidence Interval: {confidence_interval}")

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [21]:
num_hourly_workers = salaries[salaries['Salary or Hourly'] == 'Hourly'].shape[0]

# Count the total number of workers
total_workers = salaries.shape[0]

# Define the hypothesized proportion
hypothesized_proportion = 0.25

# Perform the proportions z-test
stat, p_value = proportions_ztest(num_hourly_workers, total_workers, value=hypothesized_proportion, alternative='two-sided')

# Output the results
print(f"Test Statistic: {stat:.4f}")
print(f"P-value: {p_value:.4f}")

# Interpretation
alpha = 0.05
if p_value < alpha:
    print("Rejection of the null hypothesis: The proportion of hourly workers is significantly different from 25%.")
else:
    print("Failed to reject the null hypothesis: The proportion of hourly workers is not significantly different from 25%.")

Test Statistic: -3.5100
P-value: 0.0004
Reject the null hypothesis: The proportion of hourly workers is significantly different from 25%.